

@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,900);



body {
    color: #222;
    font-size: 12px;
    line-height: 1.4;
} 

::-moz-selection {
    background: #088;
    color:#fff;
    text-shadow: none;
} 

::selection {
    background: #088;
    color:#fff;
    text-shadow: none;
} 

/* ===============
    ALL
   =============== */

html, body, h1.title {
    font: 1em  "Lato", Helvetica, "Helvetica Neue", Arial;
    font-weight: 200;
    color:#333;
} 

h1,
h2,
h3,
h4,
h5 {font-weight: 400; } 

/* * * * HEADER  * * * */

    .header-container {

        z-index:99999;
        background-color: #222;
        text-transform: lowercase;
        position:fixed;
        top: 0px;
        border-bottom:1px solid #222;
        width:100%;
        padding-top: 9px;
        padding-bottom: 10px;
    } 

/* * * * NAVBAR  * * * */

    header {

        font-size:2em;
        width:100%;
        margin: 0 auto;
    } 

    h1.title {
        text-align:center;
        margin: 0 auto;
        display:block;
        text-align:left;
        width:80%;
    } 

    h1.title a,
    h1.title a:visited  {

        line-height: 0.75em;
        position: relative;
        font-weight: 300;
        color:#eee;
        text-decoration: none;
    } 

    h1.title a:hover {
        color:#fff;
    } 

    nav {

    } 

    nav .menu {
        position:fixed;
        top:3px;
        right:3px;
        border:1px solid #222;
        background-color: #222;
        margin-right:10px;
        border-radius:3px;
        width:35px;
        vertical-align: top;
        text-align:center;
        height: 32px;
        padding:8px 3px 3px 3px;
    } 


    nav .menu:hover {
        cursor:pointer;
    } 

    nav .menu:active {
        background-color: #222;
    } 

    nav .menu > .bar{
        width:65%;
        height:0px;
        border:2px solid #eee;
        border-radius: 1px;
        display:block;
        margin: 14% auto;
    } 
    
    nav ul {
        background-color:#222;
        display: none;
        width:100%;
        padding: 0 0;
        margin: 0 0;
    } 

    nav ul li {
        text-align:center;
        display: block;
    } 
    nav ul li:nth-of-type(2n) {
        font-size:1.4em;
        padding: 15px 15px;
        margin: 1px 0 1px 0;
        background-color: #222;
        border-bottom:1px solid #111;

    } 

    nav ul li img {
        display: none;
        width:80%;
        position:relative;
        top:2px;
        opacity: 0.55;
    } 

    nav ul li a {
        color: #ddd;
        text-decoration: none;
    } 

    nav ul li a:hover {
        color:#fff;

        -webkit-transition: color 0.2s linear;
    } 

/* * * * Slide Menuevering(sp)  * * * */
    
    div.next-slide {
        display: none; /* not visible for mobile, ends up being in the way and not very smooth transitions */
        opacity: 0.9;
        border: 4px solid #000;
        background: url("../img/arrow.png") 3px 5px no-repeat transparent;
        background-size: 60px 60px;
        text-align:center;
        width:65px;
        height: 65px;
        cursor:pointer;
        position:fixed;
        bottom:2%;
        right:2%;
        font-size:3em;
        font-family:"Helvetica", "Arial", serif;
        color:#000;
        animation: waver 2.5s infinite;
        -webkit-animation: waver 2.5s infinite; /* Safari and Chrome */
        -moz-animation: waver 2.5s infinite;
        -webkit-transition: border 0.3s linear;
    } 


    @keyframes waver
    {
        0% {opacity:0.9; bottom:2%;} 
        25% {opacity:0.3;} 
        50% {opacity:1; bottom:4%;} 
        75% { opacity: 0.3;} 
        100% {opacity:0.9; bottom:2%;} 
    } 

    @-webkit-keyframes waver /* Safari and Chrome */
    {
        0% {opacity:0.6; bottom:2%;} 
        25% {opacity:0.6;} 
        50% {opacity:1; bottom:4%;} 
        75% { opacity: 0.6;} 
        100% {opacity:0.6; bottom:2%;} 
    } 

    div.next-slide:active {
        border: 2px solid #000;
        opacity: 1;
    } 
/* * * * GENERAL / ALL  * * * */

    .container {} 

    .slide {} 

    .slide h1 {
        font-size:4em;
        font-weight:200;
    } 
    .container > div {
        width:100%;
        margin-left:auto;
        margin-right:auto;
    } 
    .smalltext {
        margin: 0 auto;
        font-size:14px;
    } 

/* * * * WELCOME  * * * */

    .welcome {
        font-size:2.4em;
        padding-top:25px;
        background-color:#fff;
    } 
    .welcome .hero {
        cursor:default;
    } 

    .welcome .hero h1 {
        margin:0 0;
        color: #004;
        font-size:1.5;
        font-weight: 400;
    } 
    .welcome .hero p {
        margin:0 0;
        font-size:1.25em;
        line-height: 1em;
        font-weight: 400;
    } 

    .welcome .hero p span {
        line-height: 1em;
    } 

/* * * * WORK  * * * */
        
    .work {
        color:#088;
        background: url("../img/work-header.png") -2em 0 repeat-x #fff;
        background-size: 1600px 600px;
    } 

    .work > div.clearfix > h1 {
        text-transform: lowercase;
        color: #000;
        padding:5px 10px 10px 10px;
        background-color: #fff; 
        border:1px solid #000;
        width:100%;
    } 

    .work p {
        font-family: "Courier New", serif;
        font-size:1em;
        background-color:#fff;
        border:1px solid #fff;
        padding:3px 10px;
    } 
    
    .work p.pull-right > a,
    .work p.pull-right > a:visited {
        color:#000;
        text-decoration: none;
    } 

    /* * ITEMS * */

    .work ul {

        padding: 0 0;
    } 
    
    .work ul li {
        font-weight: 400;
        width: 100%;
        display:inline-block;
        vertical-align: top;
        background-color:#fff;
        border:1px solid #555;
        color: #666;
        padding: 0 0;
        margin: 2% 2% 0 0;
    } 


    .work ul li > div {
        font-size:1em;
        padding: 15px 15px;
        border-top:1px solid #eee;
    } 

    .work ul li > .title {
        cursor: pointer;
        font-size: 1.3em;
        font-weight: 400;
        color: #555;
    } 

    .work ul li:not(.active) > div:not(.title) {
        display:none;
    } 

    .work ul li:hover {
        border:1px solid #000;
    } 

    .work ul li:hover > div:not(.title),
    .work ul li.active > div:not(.title) {
        display:block;

    } 

    .work ul li:hover > .title {
        color:#000;
    } 

    .work ul li > .description {
        color: #4aa;
        padding: 20px 20px;
    } 

    .work ul li > div:not(.title):after {
        padding: 2px 2px;
        content: attr(class);
        font-size: 0.35;
        font-weight: 100;
        float: right;
        color: #ccc;
    } 

    .work ul li > div:not(.title):hover:after {
        color: #f66;
    } 

    .work ul li > div.title:after {
        padding:2px 2px;
        content: attr(data-year);
        font-weight:100;
        float:right;
        color:#5aa;
    } 

    .work ul li div.links {
        color: #aaa;
    } 

    .work ul li > div a {
        color:#08f;
    } 

    .work ul li > div a:visited {
        color: #07a;
    } 

    .work ul li > div a:hover {
        color:#059;
    } 

/* * * * SKILLS  * * * */

    .skills {
        background-color: #255;
        color: #ddd;
        padding-bottom:100px;
    } 

    .skills h1 {
        color: #cc7;
    } 

    .skills a,
    .skill a:visited {
        color:#aa7;
    } 

    .skills ul {
        padding-bottom: 35px;
        padding-left: 25px;
    } 

    .skills #sorttext {
        font-weight: 400;
        cursor: pointer;
        color: #cc7;
        display: block;
        margin: 0 auto;
        text-align: right;
    } 



    .skills ul li:not(.description) {
        font-weight: 400;
        text-align:right;
        display: inline-block;

    } 

    .skills ul li.description {
        display:block;
        clear:both;
        padding: 25px 35px 10px 0 ;
        font-weight: 400;
        color: #caa;
    } 

    .skills .tag {

        display: inline-block;
        border-radius:1px;
        background-color: #222;
        border: 1px solid #222;
        font-weight: 400;
        font-size: 1.2em;
        padding: 15px 24px;
        margin: 4px 2px;
        color: #aaa;
        z-index:99;
    } 

    ul li:hover .tag {
        cursor:default;
        color:#ccc;
        background-color: #333;
        border:1px solid #333;

    } 

/* * * * ABOUT  * * * */

    .about {
        /*background-color: #643d1b;*/
        color:#fff;
        background: url("../img/about-header.png") 20% 10% no-repeat fixed #522;
        /*background-size: 1600px 800px;*/

    } 

    .about > div {
        margin-top: 70px;
        background: url("../img/about-header.png") 20% 10% no-repeat fixed #522;
        min-width:150px;

    } 

    .about p {
        height: 200px;
        color: #000;
        background-color: #fff;
        padding:20px 20px 20px 20px;
        line-height: 1.5em;
        margin-top:50px;
        font-weight:400;
    } 

    .about h1 {
        padding: 2% 4%;
        margin-top: 0px;

    } 

    img.me {
        display:none;
        margin-top:50px;
        background-color: #f5f5f5;
        height:200px;
        padding:20px 20px 20px 20px;
        min-width:50px;
        max-width:300px;

    } 

/* * * * CONTACT  * * * */

    .contact h1:nth-of-type(1) {
        text-align:center;
        border-bottom:1px solid #333;
        margin-bottom:0px;
    } 

    .contact h1:nth-of-type(2) {
        margin:0px 0px 75px 0px;
        text-align:center;
        font-size:2em;
        border-bottom:1px solid #333;

    } 

    .contact h1:nth-of-type(2) a {
        font-size:0.5em;
    } 
    
    .contact ul {
        text-align: center;
    } 

    .contact ul li.block {
        display: block;
        width:100%;
        text-align:inherit;

    } 

    .contact ul li:not(.block) {
        padding:10px 0 10px 0;
        margin: 0px 0px;
        text-align:inherit;
        font-family: "Lato", Helvetica, "Helvetica Neue", Arial;
        font-weight:300;
        text-decoration: none;
        color: #aaa;
        display:block;
        margin:10px 0 10px 0;
        
    } 

    .contact ul li a,
    .contact ul li a:visited {
        font-weight:300;
        color: #0a8;
        text-align:center;
        width:100%;
        text-decoration: none;
        padding:25px 25px;
    } 

    .contact ul li a:hover {
        color: #085;
    } 

    .contact ul li input {

        font-family: "Lato", Helvetica, "Helvetica Neue", Arial;
        font-weight:300;
        text-align:center;
        border:1px solid #fff;
        border-bottom:1px solid #ddd;
        font-weight:300;
        padding-top: 15px 0px 15px 0px;
    } 

    .contact ul li input:hover {
        border-bottom: 1px solid #000;
    } 

/* * * * FOOTER  * * * */

    .footer-container {
        border-top:1px solid #000;
        padding-bottom:5px;
        background-color:#044;
        color:#eff;
    } 

    footer {

        text-align:center;
    } 

    footer h3 {
        font-size:0.75em;
        padding:5px 5px;
        font-weight: 300;
    } 

    footer a {
        font-weight: 300;
        color:#000;
    } 

/* * * IE Fixes * * */

    .ie7 .title {
        padding-top: 20px;
    } 

/* * * * MEDIA QUERIES  * * * */

@media only screen and (min-width: 485px) {

    header {
        width:100%;
        font-size: 1.85em;
    } 

    nav .menu {
        font-size: 0.8em;
    } 

    html {
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    } 
    .welcome {
        font-size: 3em;
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    } 

    .container > div {
        width:81%;
        margin-left:auto;
        margin-right:auto;
    } 

    .contact ul li:not(.block) {
        display:inline-block;
    } 

    .work ul li {
        -webkit-transition: height 1s linear;
        -moz-transition: height 0.2s linear;
    } 


} 

@media only screen and (min-width: 768px) {


    html {
        font-size:1em;
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    } 

    .container > div {
        width:80%;
        margin-left:auto;
        margin-right:auto;
    } 

    div.next-slide {
        display: block; /* not visible for mobile, ends up being in the way and not very smooth transitions */
    } 

    .welcome {
        font-size: 3.5em;
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    } 

    .contact ul li:not(.block) {
        display:inline-block;
    } 

    img.me {
        display: block;
    } 

    .about p { width: 50%} 
    
    /* * MENU MAGIC * */

    h1.title {width:33.3%; text-align:right;} 

    h1.title a {font-weight: 200;} 

    h1.title,
    nav { display:inline-block; float:left;} 
    nav .menu { display:none;} 
    nav { width:66.6%;} 
    /* mini reset */
    nav ul,
    nav ul li,
    nav ul li:nth-of-type(2n) { font-size:1em; display:inline-block; background-color: transparent; border: none; padding: 0 0 0 15px;} 
    nav ul li img {display:none;} 

} 

@media only screen and (min-width: 1140px) {

    .container > div {
        width:55%;
        margin-left:auto;
        margin-right:auto;
    } 

    .welcome {
        font-size: 4em;
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    } 

    .contact ul li:not(.block) {
        display:inline-block;
    } 
} 



/* * *  Helper classes * * */


    .pull-left {
        float:left;
    } 

    .pull-right {
        float:right;
    } 

    .unstyled-list {
        padding: 0 0;
    } 

    .unstyled-list > li {
        list-style-image: none;
        list-style-type: none;
    } 

    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        *text-indent: -9999px;
    } 

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    } 

    .hidden {
        display: none !important;
        visibility: hidden;
    } 

    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    } 

    .clearfix:after {
        clear: both;
    } 

    .clearfix {
        *zoom: 1;
    } 

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    } 

    a,
    a:visited {
        text-decoration: underline;
    } 

    a[href]:after {
        content: " (" attr(href) ")";
    } 

    abbr[title]:after {
        content: " (" attr(title) ")";
    } 

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    } 

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    } 

    thead {
        display: table-header-group; /* h5bp.com/t */
    } 

    tr,
    img {
        page-break-inside: avoid;
    } 

    img {
        max-width: 100% !important;
    } 

    @page {
        margin: 0.5cm;
    } 

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    } 

    h2,
    h3 {
        page-break-after: avoid;
    } 
} 