

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,900);



body {
    color: #222;
    font-size: 12px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* ===============
    ALL
   =============== */

html, body, h1.title {
    font: 1em  "Lato", Helvetica, "Helvetica Neue", Arial;
    font-weight: 200;
    color:#333;
}
h1,
h2,
h3,
h4,
h5 {font-weight: 400; }

/* * * * HEADER  * * * */

.header-container {

    text-transform: lowercase;
    position:fixed;
    top: 0px;
    border-bottom:1px solid #033;
    width:100%;
    padding-top: 9px;
    padding-bottom: 10px;
}

header {
    font-size:1.2em;
    width:100%;
    margin: 0 auto;
}

.title {
    margin: 0 0;
    display:inline-block;
    float:left;
    text-align:right;
    width:33.3%;
}

.title:hover {
    color:#0a8;
    -webkit-transition: color 0.2s linear;
}

nav {
    float:left;
    width:66.6%;
}

nav ul {
    width:100%;
    padding: 0 0;
    margin: 0 0;
}

nav ul li {
    padding:0 0 0 2%;
    display: inline-block;
}

nav ul li img {
    width:80%;
    position:relative;
    top:2px;
    opacity: 0.55;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    color:#aaa;
    font-weight:200;
    -webkit-transition: color 0.2s linear;
}

/* * * * CONTENT  * * * */

.container {}

.slide {
    border-bottom:1px solid #000;
}

.container > div {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

/* * * * HERO / WELCOME  * * * */

.welcome {
    font-size:2em;
    padding-top:25px;
    background-color:#fff;
}

.welcome .hero h1 {

    margin:0 0;
    color: #004;
    font-size:1.5;
    font-weight:400;
}
.welcome .hero p {
    margin:0 0;
    line-height: 0.9em;

    font-weight:200;
}

img.me {
    background-color: #fff;
    padding:10px 10px;
    border: 1px solid #000;
    border-radius:50%;
    width:30%;
    height: 30%;
}


/* * * * Portfolio  * * * */

.portfolio {}

.portfolio .item {
    border-bottom: 1px solid #aaa;
}

.portfolio .item img {
    width:250px;
    height:250px;
    margin: 16px 16px;
    padding:16px 16px;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 485px) {

    header {
        width:100%;
        font-size: 1.5em;
    }
    html {
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    }
    .welcome {
        font-size: 3em;
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    }
    .container > div {
        width:50%;
        margin-left:auto;
        margin-right:auto;
}
}

@media only screen and (min-width: 768px) {

    html {
        font-size:1.2em;
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    }
    .welcome {
        font-size: 4em;
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    }
}

@media only screen and (min-width: 1140px) {

    .welcome {
        font-size: 4.5em;
        -moz-transition: font-size 0.25s linear;
        -webkit-transition: font-size 0.25s linear;
    }
}



/* ==========================================================================

   Helper classes

   ========================================================================== */


.pull-left {
    float:left;

}
.pull-right {
    float:right;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}